@media screen and (min-width: 1200px) {
  br {
    display: none;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 60px;
  }

  h5,
  a {
    font-size: 18px;
  }

  .main-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1290px;
    margin: 2em auto 6em auto;
    h2 {
      grid-column: 1/3;
      margin-bottom: 0.8em;
    }
  }

  .menu {
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    ul {
      h2 {
        margin-bottom: 0.5em;
      }
    }
  }

  .menu-toggle {
    margin-left: 1em;
  }

  .contact-email {
    grid-column: 1/2;
  }

  #hero {
    ul {
      grid-column: 2/3;
    }

    h1 {
      grid-column: 1/2;
    }

    #profile-pic {
      grid-column: 2/3;
      height: 65vh;
    }
  }

  #projects {
    grid-template-columns: repeat(3, 1fr);
    h2 {
      grid-column: 1/4;
    }
    .project-pic {
      height: 45vh;
    }
  }

  #tools {
    .tool {
      margin-bottom: 6em;
      h3 {
        border-bottom-width: 5px;
      }
      p {
        margin-bottom: 2em;
      }
    }
  }

  #certificates {
    .certificate {
      h3 {
        border-right-width: 5px;
      }
    }
  }

  #contact {
    h3 {
      border-bottom-width: 5px;
    }
  }
}
