html {
  font-family: futura-pt, sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 32pt;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 26pt;
  margin: 0;
}

h3 {
  font-size: 18pt;
  margin: 0;
}

h4 {
  font-size: 14pt;
  font-weight: 400;
  margin: 0;
}

button {
  background-color: #dd4444;
  color: white;
  border: none;
  font-weight: 600;
  padding: 1.25em;
  margin: 1.5em 0;
}

.main-grid {
  padding: 0em 1em;
  margin-bottom: 5em;
}

.main-grid .section-name {
  border-top: 1px solid black;
  width: 50%;
  margin-bottom: 1.5em;
}

.header-bg {
  background-color: #2e2e2e;
  color: white;
}

.icon-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.icon-grid img {
  width: 100%;
}

#dev-icons {
  margin-bottom: 5em;
}

#hero {
  height: 100vh;
  background-color: #2e2e2e;
  padding: 0;
  margin-bottom: 1.6em;
}

#hero .pic {
  background-image: url("../assets/niels-cropped.JPG");
  width: 100%;
  height: 55%;
  background-size: contain;
  background-attachment: fixed;
  background-position: center top;
}

#hero .hero-text {
  padding: 0 1em;
}

#hero .hero-text .header-bg {
  border-bottom: 1px solid white;
}

#hero h1 {
  color: white;
}

#certificates {
  gap: 4em 0;
}

#certificates span {
  background-color: #2e2e2e;
  color: white;
}

@media (min-width: 768px) {
  .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1312px;
    margin: auto;
    margin-bottom: 8em;
    padding: 0;
    gap: 4rem 2rem;
  }
  .main-grid .section-name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    margin-bottom: 0;
  }
  #skills .icon-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #skills #dev-icons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  #skills #dev-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
  }
  #skills #design-icons {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8/12;
  }
  #skills #design-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  #certificates h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    font-size: 25pt;
  }
  #contact .header-bg {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 64pt;
  }
  h2 {
    font-size: 40pt;
  }
  nav {
    background-color: black;
    opacity: 85%;
    color: white;
    position: fixed;
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    margin: 0 2em;
    padding: 0.75em 0.85em;
  }
  #hero {
    background-color: white;
    -ms-grid-rows: 1fr 16fr 3fr;
        grid-template-rows: 1fr 16fr 3fr;
  }
  #hero .pic {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-attachment: unset;
    background-size: cover;
    height: 100%;
  }
  #hero .hero-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 0;
  }
  #hero .hero-text .sub-title {
    color: black;
  }
  #certificates h3 {
    font-size: 40pt;
  }
}
/*# sourceMappingURL=style.css.map */