html {
  font-family: futura-pt, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
  font-size: 32pt;
}

h2 {
  font-weight: 700;
  font-size: 26pt;
}

h3 {
  font-size: 22pt;
}

h4 {
  font-size: 14pt;
  font-weight: 400;
}

p {
  font-size: 16pt;
  font-weight: 300;
}

.contact-button {
  background-color: #dd4444;
  color: white;
  border: none;
  font-weight: 600;
  padding: 1.25em;
  margin: 1.5em 0;
}

.main-grid {
  padding: 0em 1em;
  margin-bottom: 5em;
}

.main-grid .section-name {
  border-top: 1px solid black;
  width: 50%;
  margin-bottom: 1.5em;
}

.header-bg {
  background-color: #2e2e2e;
  color: white;
}

.icon-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.icon-grid img {
  width: 100%;
}

#dev-icons {
  margin-bottom: 5em;
}

#hero {
  height: 100vh;
  background-color: #2e2e2e;
  padding: 0;
  margin-bottom: 1.6em;
}

#hero .pic {
  background-image: url("../assets/niels.jpg");
  width: 100%;
  height: 55%;
  background-size: auto 55%;
  background-attachment: fixed;
  background-position: center top;
}

#hero .hero-text {
  padding: 0 1em;
}

#hero .hero-text .header-bg {
  border-bottom: 1px solid white;
}

#hero .triangle {
  display: none;
}

#hero h1 {
  color: white;
}

#skills p {
  margin: 0.75em 0 1.25em 0;
}

#certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em 0;
}

#certificates span {
  background-color: #2e2e2e;
  color: white;
}

#certificates .triangle {
  display: none;
}

#contact .triangle {
  display: none;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2e2e2e;
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  display: none;
  height: 100vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul a {
  display: block;
  width: 100vw;
  text-align: center;
  padding: 2em 0;
  font-size: 1.5em;
}

header nav ul a:hover {
  background-color: #4b4b4b;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ nav {
  display: block;
  background-color: #2e2e2e;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-icon {
  display: inline-block;
  margin-left: auto;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 2em;
  margin: 1.4em 1em;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 0.6em;
}

header .menu-icon .navicon:after {
  top: -0.6em;
}

.mail-icon {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52pt;
  }
  h2 {
    font-size: 34pt;
  }
  .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1312px;
    margin: auto;
    margin-bottom: 8em;
    padding: 0;
    gap: 2em 1em;
  }
  .main-grid .section-name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    margin-bottom: 0;
  }
  header {
    padding: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .menu-icon {
    display: none;
  }
  header nav {
    display: block;
    margin: auto;
    height: auto;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul a {
    font-size: 1em;
    padding: 1em 2.75em;
    width: auto;
  }
  .mail-icon {
    display: initial;
  }
  .mail-icon a {
    padding: 0.5em 2.75em;
  }
  .mail-icon a img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #dd4444;
    height: 2em;
    width: 3em;
    padding: 0.3em 0.6em;
  }
  #hero {
    background-color: white;
    -ms-grid-rows: 1fr 15fr 1fr 3fr;
        grid-template-rows: 1fr 15fr 1fr 3fr;
  }
  #hero .pic {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background-attachment: unset;
    background-size: cover;
    height: 100%;
  }
  #hero .hero-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 0;
  }
  #hero .hero-text .sub-title {
    color: black;
  }
  #hero .triangle {
    display: initial;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #skills .icon-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #skills #dev-icons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  #skills #dev-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
  }
  #skills #design-icons {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-column: 8/12;
  }
  #skills #design-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  #certificates {
    display: -ms-grid;
    display: grid;
  }
  #certificates h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    font-size: 25pt;
  }
  #certificates .triangle {
    display: initial;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 11;
    -ms-grid-column-span: 1;
    grid-column: 11/12;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #contact .header-bg {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  #contact .triangle {
    display: initial;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12/13;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64pt;
  }
  h2 {
    font-size: 40pt;
  }
  p {
    font-size: 20pt;
  }
  .main-grid {
    gap: 4em 2em;
  }
  #certificates h3 {
    font-size: 40pt;
  }
}
/*# sourceMappingURL=style.css.map */